<h1>Subscriptions</h1>

<% @subscriptions.each do |sub| %>
    <h2><%= sub.name %></h2>
    <p><%=  sub.type %></p>
    <p> Amount </p>
    <p> $ <%= sub.amount %></p>
    <p> Frequency </p>
    <p><%= sub.frequency %></p>
<% end %> 